{% extends 'notas/base.html' %}

{% block title %}Aprovador{% endblock %}

{% block content %}
<h1>Notas Pendentes de Aprovação</h1>
<ul>
    {% for nota in notas %}
        <li>
            Nota {{ nota.id }} - {{ nota.tipo }} - R$ {{ nota.valor_nota }}
            <form method="post" action="{% url 'aprovar_nota' nota.id %}">
                {% csrf_token %}
                <input type="hidden" name="status" value="Aprovada">
                <button type="submit">Aprovar</button>
            </form>
            <form method="post" action="{% url 'aprovar_nota' nota.id %}">
                {% csrf_token %}
                <input type="hidden" name="status" value="Reprovada">
                <button type="submit">Reprovar</button>
            </form>
        </li>
    {% endfor %}
</ul>
{% endblock %}
