{% extends 'notas/base.html' %}

{% block title %}Revisar Notas{% endblock %}

{% block content %}
<h1>Revisar Notas para {{ viagem.destino }}</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tipo</th>
            <th>Valor</th>
            <th>Data</th>
            <th>Conteúdo</th>
            <th>Status</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for nota in notas %}
        <tr>
            <td>{{ nota.id }}</td>
            <td>{{ nota.get_tipo_display }}</td>
            <td>{{ nota.valor_nota }}</td>
            <td>{{ nota.data_nota }}</td>
            <td>{{ nota.conteudo }}</td>
            <td>{{ nota.status }}</td>
            <td>
                {% if nota.status == 'Pendente' %}
                <a href="{% url 'aprovar_nota' nota.id %}" class="btn btn-success">Aprovar</a>
                <a href="{% url 'reprovar_nota' nota.id %}" class="btn btn-danger">Reprovar</a>
                {% else %}
                Aprovada/Reprovada
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
